#pinPage {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pinPageArrow {
    width: 100%;
    padding-left: 40px;
}

.fa-arrow-left {
    font-size: 20px;
}
#arrowClick {
    cursor:pointer;
}

#pinContent {
    margin-top: 10px;
    width: 50%;
    height: 70%;
    min-height: 70vh;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#pinContentLeft, #pinContentRight {
    width: 50%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

#pinPageImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#pinPageHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#pinSaveBtn {
    height: 45px;
    width: 66px;
    background-color: #E60023;
    border-radius: 22.5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items:  center;
    justify-content: center;
}

#pinSaveBtn:hover {
    background-color: #AD081B;
  }
  
#pinPageInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    font-size: 25px;
}

#link {
    font-size: 14px;
    width: 90%;
}


#description {
    font-size: 15px;
}


#userInfo {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#userPhoto, #userPhoto img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}