#pinPage {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pinPageArrow {
    width: 100%;
    padding-left: 40px;
}

.fa-arrow-left {
    font-size: 20px;
}

#arrowClick {
    cursor: pointer;
}

#pinContent {
    margin-top: 10px;
    width: 50%;
    height: 70%;
    min-height: fit-content;
    min-width: 60vw;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 100px;

}

#pinContentLeft,
#pinContentRight {
    width: 50%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

#pinPageImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#pinPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


#pinPageInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 25px;
}

#link {
    font-size: 14px;
    width: 85%;
    overflow-wrap: break-word;
}

#pin_title {
    font-size: 24px;
    font-weight: 700;
    height: fit-content;
    overflow-wrap: break-word;
}

#description {
    font-size: 15px;
    height: fit-content;
    overflow-wrap: break-word;
}

#editPinEllpisis {
    cursor: pointer;
}

#userInfo a {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

#userPhoto,
#userPhoto img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

#comments {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    object-fit: cover;
    /* overflow-y: scroll; */
    font-size: 20px;

}

#commentsHeader {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 13px;
    margin-bottom: 10px;

}


.fa-chevron-right,
.fa-chevron-down {
    color: #767676;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-right:hover,
.fa-chevron-down:hover {
    background-color: #d3d3d3;

}

#allComments {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#indComment {
    width: 100%;
    padding: 10px;
    border: #d3d3d3 solid 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

}

#leaveComment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    gap: 10px;
}

#commentTip {
    font-size: 13px;
}



#commentInputDiv {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    width: 100%;
    gap: 10px;

}



#userPhoto_comment,
#userPhoto_comment img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}

#formDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    height: fit-content;

}

/* textarea {
    color: black;
    resize: both;
    overflow-y: visible;
    height: 1000px;
    resize: none;
    background-color: red;
    outline: none;
} */

textarea::-webkit-scrollbar {
    width: 0px;

}

textarea :is(:focus, :valid) {
    border-color: red;

}


#commentInput {
    width: 100%;
    height: 40px;
    border: #d3d3d3 solid 1px;
    border-radius: 20px;
    padding: 10px;
}

#select-pin {
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}

#react-select {
    width: 200px;
    position: absolute;
    right: 0;
    top: 2;
    border: #d3d3d3;
}

#react-select:hover {
    background-color: gray;
}

#pinButton {
    height: 38px;
    width: 46px;
    background-color: #E60023;
    /* border-radius: 22.5px; */
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2;
    cursor: auto;
}


#pinSaveBtn {
    height: 45px;
    width: 66px;
    background-color: #E60023;
    border-radius: 22.5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinned {
    font-style: italic;
}

#pinSaveBtn:hover {
    background-color: #AD081B;
}


#comments_photo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
}