@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

#linksModal {
    margin: 30px 0 30px 0;
    height: 100%;
    width: 100%;
    /* min-height: 45vh; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

#about_info {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 65%;

}

#my_name {
    margin-top: -5px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: helvetica;
    color: black;

    
}
#my_here_link {
    font-weight: 700;
    text-decoration: none;
    color: black;
}


#linksModal > * {
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 20px;
    color: #454545;
}

@media screen and (max-width: 1400px) {
    #my_name {
      font-size: 25px;
    }
    #my_here_link {
        font-size: 15px;

    }
    #linksModal > * {
        letter-spacing: 1.5px;
        text-align: justify;
        font-size: 15px;
        color: #454545;
    }

    #about_info > div {
        margin-bottom: 10px;
    }
  }