#landingPage{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


/* SCROLL TO BOTTOM ANIMATION */

#landing_arrow {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #407A57;
    color: white;
    position: absolute; 
    top: 10%;
    left: 50%;
    animation: bounce 0.8s infinite alternate;
}

#top {
    min-height: 100vh ;
    background-color: palegoldenrod;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}


#loginSection {

    min-height: 100vh;
    background-color: pink;
    width: 100%;
}


@keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-40px); } }
/* 
.fadeIn > img, limg {
    height: 400px;
    height: 200px;
} */


/* FULL DIV FADE IN */
/* 
.fadeIn {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}   */


/* TIMED FADE IN */

.fadeIn {
    position: relative;
    width: 100%
}

.fadeIn > img {
    float: left;
    width: 25%;
}
  
.fadeIn img {
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .fadeIn:nth-child(2) > img {
    animation-delay: 3s;
  }
  
  .fadeIn:nth-child(3) > img {
    animation-delay: 2s;
  }
  
  .fadeIn:nth-child(4) > img {
    animation-delay: 1s;
  }
  
  .fadeIn:nth-child(5) > img {
    animation-delay: 3s;
  }
  
  .fadeIn:nth-child(6) > img {
    animation-delay: 15s;
  }
  
  .fadeIn:nth-child(7) > img {
    animation-delay: 18s;
  }
  
  .fadeIn:nth-child(8) > img {
    animation-delay:21s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  } 