#landingPage{
    height: 100%;
    width: 100%;
    min-height: 100vh; 
}


/* SCROLL TO BOTTOM ANIMATION */

#landing_arrow {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #407A57;
    color: white;
    position: absolute; 
    top: 65%;
    left: 50%;
    animation: bounce 0.8s infinite alternate;
    z-index: 3;
   

}

#top {
    min-height: 100vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#topwelcome {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 15%;
  z-index: 1;

}

#topwelcome2 {
  font-size: 50px;
  font-weight: 700;
  color: #971645;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 20%;
  z-index: 1;

}

@keyframes bounce { 0% { transform: translateY(0); } 100% { transform: translateY(-40px); } }


#landing_grid  {
  column-count: 7;
  column-gap: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}


#landing_grid > div >
img {
  width: 250px;
  opacity: 0;
  border-radius: 20px;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
  margin: 10px;

}


#white {
width: 100%;
height: 100vh;
background-image: linear-gradient(to BOTTOM, rgba(255,255,255,1), 80%, rgba(255,0,0,0));
position: absolute;
z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}  

/* Media Queries */

@media (min-width: 1008px) and (max-width: 1259px) {
  #landing_grid {
    max-width: 1008px;
    column-count: 4;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  #landing_grid {
    max-width: 1260px;
    column-count: 5;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  #landing_grid {
    width: 1512px;
    column-count: 6;
  }
}

@media (min-width: 1764px) and (max-width: 2015px) {
  #landing_grid {
    width: 1764px;
    column-count: 7;
  }
}



/* TIMED FADE IN */
/* div:nth-child(2) > img {
  animation-delay: 3s;
} */

/* 
li:nth-child(3) > img {
  animation-delay: 2s;
}

li:nth-child(4) > img {
  animation-delay: 1s;
}

li:nth-child(5) > img {
  animation-delay: 2s;
}

li:nth-child(6) > img {
  animation-delay: 15s;
}

li:nth-child(7) > img {
  animation-delay: 4s;
}

li:nth-child(8) > img {
  animation-delay:2s;
} */



/* 
.fadeIn > img, limg {
    height: 400px;
    height: 200px;
} */




.fadeIn {
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}  
