#board_page_grid {
    display: flex !important;
    gap: 10px !important;
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 60vh !important;
    padding: 0 50px 50px 50px !important;

};

