#signup_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%;
    height: 100%; */
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    gap: 16px;
    /* min-height: 70vh;
    min-width: 35vw; */
}


#signup_formDiv {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#signup_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}



#signup_form>input {
    background-color: #E7F0FE;
    height: 45px;
    width: 100%;
    border-radius: 12px;
    border: 2px #d3d3d3 solid;
    padding: 15px;
    font-size: 16px;
}

#signup_button {
    background-color: #E60022;
    height: 45px;
    width: 100%;
    border-radius: 22.5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
}